In [7]:
a="""rahul is a boy"""

In [8]:
print(encode(a))

NameError: name 'encode' is not defined

In [9]:
encode(a)

NameError: name 'encode' is not defined

In [10]:
a.encode()

b'rahul is a boy'

In [11]:
txt = "My name is St책le"

x = txt.encode()

print(x)

b'My name is St\xc3\xa5le'

In [12]:
txt = "My name is St책le"

print(txt.encode(encoding="ascii",errors="backslashreplace"))
print(txt.encode(encoding="ascii",errors="ignore"))
print(txt.encode(encoding="ascii",errors="namereplace"))
print(txt.encode(encoding="ascii",errors="replace"))
print(txt.encode(encoding="ascii",errors="xmlcharrefreplace"))

b'My name is St\\xe5le'
b'My name is Stle'
b'My name is St\\N{LATIN SMALL LETTER A WITH RING ABOVE}le'
b'My name is St?le'
b'My name is St&#229;le'

In [13]:
txt

'My name is St책le'

In [14]:
print(txt)

My name is St책le

In [15]:
txt = "For only {price:.2f} dollars!"
print(txt.format(price = 49))a = "\u0030" #unicode for 0
b = "\u0047" #unicode for G

print(a.isdecimal())
print(b.isdecimal())

For only 49.00 dollars!

In [16]:
a = "\u0030" #unicode for 0
b = "\u0047" #unicode for G

print(a.isdecimal())
print(b.myTuple = ("John", "Peter", "Vicky")

x = "#".join(myTuple)

print(x)())

True
False

In [17]:
myTuple = ("John", "Peter", "Vicky")

x = "#".join(myTuple)

print(x)

John#Peter#Vicky

In [18]:
x

'John#Peter#Vicky'

In [19]:
txt = "banana"

x = txt.ljust(20, "O")

print(x)

bananaOOOOOOOOOOOOOO

In [20]:
len(x)

20

In [21]:
txt = "50"

x = txt.zfill(10)

print(x)

0000000050

In [22]:
len(x)

10

In [23]:
txt = "     banana     "

x = txt.strip()

print("of all fruits", x, "is my favorite")

of all fruits banana is my favorite

In [24]:
x = ('key1', 'key2', 'key3')
y = 0

thisdict = dict.fromkeys(x, y)

print(thisdict)

{'key1': 0, 'key2': 0, 'key3': 0}

In [25]:
x = ('key1', 'key2', 'key3')

thisdict = dict.fromkeys(x)

print(thisdict)

{'key1': None, 'key2': None, 'key3': None}

In [52]:
x={" ","f "}
y = {"  ","e"}

z = x.isdisjoint(y)

print(z)

True

In [53]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'cherry', 'google', 'microsoft', 'banana'}

In [55]:
age = 36
txt = "My name is John, and I am {age:.2f}"
print(txt.format(age=99))

My name is John, and I am 99.00

In [79]:
txt = "Micasa,sucasa."

x = txt.rindex("casa")

print(x)

9

In [80]:
len(txt)

14

In [81]:
txt = "Welcome to my world"

x = txt.title()

print(x)

Welcome To My World

In [82]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

In [83]:
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [84]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, *yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
['banana', 'cherry', 'strawberry']
raspberry

In [85]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [ ]:
from datetime import datetime   

alarm_time = input("Enter the time of alarm to be set:HH:MM:SS\n")
alarm_hour=alarm_time[0:2]
alarm_minute=alarm_time[3:5]
alarm_seconds=alarm_time[6:8]
alarm_period = alarm_time[9:11].upper()
print("Setting up alarm..")
while True:
    now = datetime.now()
    current_hour = now.strftime("%I")
    current_minute = now.strftime("%M")
    current_seconds = now.strftime("%S")
    current_period = now.strftime("%p")
    if(alarm_period==current_period):
        if(alarm_hour==current_hour):
            if(alarm_minute==current_minute):
                if(alarm_seconds==current_seconds):
                    print("Wake Up!")
                   
                    break

In [1]:
now = datetime.now()
current_hour = now.strftime("%I")

NameError: name 'datetime' is not defined

In [ ]:
current_hour

In [ ]:
current_minute

In [ ]:
current_hour

In [ ]:
current_minute

In [87]:
   current_minute = now.strftime("%M")

In [88]:
current_minute

'05'

In [3]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "red"})

In [4]:
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [5]:
thisdict.popitem()

('color', 'red')

In [8]:
thisdict.pop("brand")

'Ford'

In [12]:
thisdict.pop("year")

1964

In [13]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.setdefault("model", "Bronco")

print(x)

Mustang